@model PaaS.ViewModels.UserRoleVM

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Assign Role</h1>
    </div>
    <div class="row">
        <form method="post" action="@Url.Action("AssignRole", "UserManagement")">
            @Html.AntiForgeryToken()

            <div class="p-input-grid mb-2">
                <label class="p-first">Email</label>
                <div class="p-second">@Model.Email</div>
            </div>
            <div class="p-input-grid mb-2">
                <label class="p-first">Role</label>
                <select class="form-control" name="RoleName">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <input type="hidden" asp-for="@Model.Email" />

            <button type="submit" class="btn p-brand mt-2">Assign Role</button>
            <a href="@Url.Action("Index", "UserManagement")" class="btn btn-secondary ms-2 mt-2">Back to User list</a>

        </form>
    </div>
</div>
