@model PaaS.ViewModels.UserRoleVM

@{
    ViewData["Title"] = "Confirm Deletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Confirm User Deletion</h1>
    </div>
    <div class="row">
        <form method="post" action="@Url.Action("DeleteUser", "UserManagement")">
            @Html.AntiForgeryToken()
            <div class="p-input-grid mb-2">
                <div class="p-first">Email</div>
                <div class="p-second">@Model.Email</div>
            </div>

            <input type="hidden" name="email" value="@Model.Email" />

            <button type="submit" class="btn p-brand mt-2">Delete</button>
            <a href="@Url.Action("Index", "UserManagement")" class="btn btn-secondary ms-2 mt-2">Back to User list</a>
        </form>
    </div>
</div>
