@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>User Management</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>
                            @if (ViewBag.UserRoles.ContainsKey(user.Email))
                            {
                                foreach (var role in ViewBag.UserRoles[user.Email])
                                {
                                    <span class="badge bg-secondary">@role</span>
                                }
                            }
                            else
                            {
                                <span class="badge bg-secondary">No Roles</span>
                            }
                        </td>
                        <td>

                            @if (!string.IsNullOrEmpty(user.Email))
                            {
                                <a class="btn p-brand" href="@Url.Action("AssignRole", "UserManagement", new { email = user.Email })">
                                    Assign Role
                                </a>
                            }

                            @if (!string.IsNullOrEmpty(user.Email))
                            {
                                <a class="btn p-brand ms-2" href="@Url.Action("ConfirmDeleteUser", "UserManagement", new { email = user.Email })">
                                    Delete User
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
