@model PaaS.ViewModels.ContactInfoVM

@{
    ViewData["Title"] = "Edit Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Confirm Address Deletion</h1>
    </div>
    <div class="row">
        <form asp-action="DeleteAddress" asp-route-model="@Model" method="post">
            <div class="p-acct-grid mb-2">
                <div class="p-first">Address 1</div>
                <div class="p-second">@Model.Address1</div>
            </div>
            <div class="p-acct-grid mb-2">
                <div class="p-first">Address 2</div>
                <div class="p-second">@Model.Address2</div>
            </div>
            <div class="p-acct-grid mb-2">
                <div class="p-first">City</div>
                <div class="p-second">@Model.CityName</div>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first">Province</label>
                <div class="p-second">@Model.ProvinceName</div>
            </div>

            <input type="hidden" asp-for="@Model.ContactId" />
            <input type="hidden" asp-for="@Model.UserId" />

            <a asp-action="MyAccount" class="btn btn-secondary mt-2">Back to My Account</a>
            <button type="submit" class="btn p-brand ms-2 mt-2">Delete</button>
        </form>
    </div>
</div>
            