@model PaaS.ViewModels.UserVM

@{
	ViewData["Title"] = "Edit Account Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
    string firstName = Model?.FirstName ?? string.Empty;
    string lastName = Model?.LastName ?? string.Empty;
    string email = Model?.Email ?? string.Empty;
    string phone = Model?.Phone ?? string.Empty;
    int userId = Model?.UserId ?? 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Edit Personal Details</h1>
    </div>
    <div class="row">
        <form asp-action="EditDetails" asp-route-model="@Model" method="post">
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@firstName">First Name</label>
                <input asp-for="@firstName" class="form-control p-second" placeholder="@firstName"/>
                <span asp-validation-for="@firstName" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@lastName">Last Name</label>
                <input asp-for="@lastName" class="form-control p-second" placeholder="@lastName" />
                <span asp-validation-for="@lastName" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@email">Email</label>
                <input asp-for="@email" class="form-control p-second" placeholder="@email" />
                <span asp-validation-for="@email" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@phone">Phone</label>
                <input asp-for="@phone" class="form-control p-second" placeholder="@phone" />
                <span asp-validation-for="@phone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@userId" />
            <input type="hidden" name="oldEmail" value="@Model.Email" />

            <a asp-action="MyAccount" class="btn btn-secondary mt-2">Back to My Account</a>
            <button type="submit" class="btn p-brand ms-2 mt-2">Save Changes</button>
        </form>
    </div>
</div>
