@model PaaS.ViewModels.ContactInfoVM

@{
    ViewData["Title"] = "Edit Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Add / Edit Address</h1>
    </div>
    <div class="row">
        <form asp-action="EditAddress" asp-route-model="@Model" method="post">
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@Model.Address1">Address 1</label>
                <input asp-for="@Model.Address1" class="form-control p-second" placeholder="@Model.Address1" />
                <span asp-validation-for="@Model.Address1" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@Model.Address2">Address 2</label>
                <input asp-for="@Model.Address2" class="form-control" placeholder="@Model.Address2" />
                <span asp-validation-for="@Model.Address2" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@Model.CityId">City</label>
                <select asp-for="@Model.CityId" asp-items="ViewBag.CitySelectList"
						class="form-select">
					<option value="">-- Select City --</option>
				</select>
                <span asp-validation-for="@Model.CityId" class="text-danger"></span>
			</div>
            <div class="p-acct-grid mb-2">
                <label class="p-first" asp-for="@Model.ProvinceId">Province</label>
                <select asp-for="@Model.ProvinceId" asp-items="ViewBag.ProvinceSelectList"
						class="form-select">
					<option value="">-- Select Province --</option>
				</select>
                <span asp-validation-for="@Model.ProvinceId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="@Model.ContactId" />
            <input type="hidden" asp-for="@Model.UserId" />            

            <button type="submit" class="btn p-brand mt-2">Save Changes</button>
            <a asp-action="MyAccount" class="btn btn-secondary ms-2 mt-2">Back to My Account</a>
        </form>
    </div>
</div>
        