@model PaaS.ViewModels.ContactInfoVM

@{
    ViewData["Title"] = "Edit Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Edit Address
</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditAddress" asp-route-model="@Model" method="post">

            <div class="form-group">
                <label asp-for="@Model.Address1">Address 1</label>
                <input asp-for="@Model.Address1" class="form-control" placeholder="@Model.Address1" />
                <span asp-validation-for="@Model.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address2">Address 2</label>
                <input asp-for="@Model.Address2" class="form-control" placeholder="@Model.Address2" />
                <span asp-validation-for="@Model.Address2" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.CityId">City</label>
                <select asp-for="@Model.CityId" asp-items="ViewBag.CitySelectList"
						class="form-select">
					<option value="">-- Select City --</option>
				</select>
                <span asp-validation-for="@Model.CityId" class="text-danger"></span>
			</div>
            <div class="form-group mb-3">
                <label asp-for="@Model.ProvinceId">Province</label>
                <select asp-for="@Model.ProvinceId" asp-items="ViewBag.ProvinceSelectList"
						class="form-select">
					<option value="">-- Select Province --</option>
				</select>
                <span asp-validation-for="@Model.ProvinceId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="@Model.ContactId" />
            <input type="hidden" asp-for="@Model.UserId" />            

            <a asp-action="MyAccount" class="btn btn-secondary">Back to My Account</a>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
</div>