@model PaaS.ViewModels.MyAccountVM

@{
	ViewData["Title"] = "My Account";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
	<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="p-grid-container">
	<div class="p-grid-item mb-2">
		<h1>My Account</h1>
	</div>
	<div class="row">
		<!-- Left Navigation -->
		<div class="col-md-3">
			<nav class="menu-nav nav flex-column">
				<h2 class="fs-4">Sections</h2>
				<a id="personal-details-nav" class="nav-link">
					<span class="material-symbols-outlined me-1">
						person
					</span>Personal Details
				</a>
				<a id="address-nav" class="nav-link">
					<span class="material-symbols-outlined me-1">
						home
					</span>Addresses
				</a>
				<a id="order-history-nav" class="nav-link">
					<span class="material-symbols-outlined me-1">
						receipt_long
					</span>Order History
				</a>
				<a id="settings-nav" class="nav-link">
					<span class="material-symbols-outlined me-1">
						settings
					</span>Settings
				</a>
				<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="nav-link">
						<span class="material-symbols-outlined me-1">
							logout
						</span>Logout
					</button>
				</form>
			</nav>
		</div>
		<div class="col-md-9">
			<section id="personal-details" class="my-account-section">
				<div class="section-header">
					<h2 class="fs-4">
						Personal Details
						<a class="p-link ms-2 fs-6" asp-action="EditDetails" asp-route-userId="@Model.ContactInfo.FirstOrDefault()?.UserId">Edit</a>
					</h2>
				</div>
				<div class="details-content">
					<p class="p-2 m-0">
						<span class="material-symbols-outlined me-1">
							person
						</span>
						@Model.ContactInfo.FirstOrDefault()?.FirstName @Model.ContactInfo.FirstOrDefault()?.LastName
					</p>
					<p class="p-2 m-0">
						<span class="material-symbols-outlined me-1">
							mail
						</span>
						@Model.ContactInfo.FirstOrDefault()?.Email
					</p>
					<p class="p-2 m-0">
						<span class="material-symbols-outlined me-1">
							call
						</span>
						@Model.ContactInfo.FirstOrDefault()?.Phone
					</p>
				</div>
			</section>
			<section id="addresses" class="my-account-section">
				<div class="section-header p-acct-grid">
					<h2 class="fs-4 p-first">Addresses</h2>
					<a class="p-link fs-6 p-second" asp-action="AddAddress" asp-route-userId="@Model.ContactInfo.FirstOrDefault()?.UserId">+ Add New</a>
				</div>
				<div class="addresses-content p-acct-grid">
					@{
						int index = 1;
					}

					@foreach (var item in Model.ContactInfo)
					{
						<h3 class="fs-5 p-first mt-3">Address @index</h3>
						<div class="p-second mt-3">
							<a class="p-link" asp-action="EditAddress" asp-route-contactId="@item.ContactId">
								<span class="fs-5 material-symbols-outlined">
									edit
								</span>
							</a>
							<a class="p-link" asp-action="DeleteAddress" asp-route-contactId="@item.ContactId">
								<span class="fs-5 material-symbols-outlined">
									delete
								</span>
							</a>
						</div>
						<div class="p-first ms-2">Address line 1:</div>
						<div class="p-second"> @item.Address1</div>
						<div class="p-first ms-2">Address line 2:</div>
						<div class="p-second"> @item.Address2</div>
						<div class="p-first ms-2">City / Province:</div>
						<div class="p-second"><span>@item.CityName</span>, <span>@item.ProvinceName</span></div>
						index++;
					}
				
				</div>
			</section>
			<section id="order-history" class="my-account-section">
				<div class="section-header">
					<h2 class="fs-4">Order History</h2>
					@if (!Model.Orders.Any()) {
						<p>You have not made any orders yet</p>
					} else {
						@foreach (var item in Model.Orders)
						{
							<div class="order">
								<ul>
									<li><span>Order ID:</span> @item.OrderId</li>
									<li><span>Order Date:</span> @item.OrderDate</li>
									<li><span>Order Total:</span> @item.TotalAmount</li>
								</ul>
								<a asp-action="OrderDetails" asp-route-orderId="@item.OrderId">View Details</a>
							</div>
						}
					}
				</div>
			</section>
			<section id="settings" class="my-account-section">
				<div class="section-header">
					<h2 class="fs-4">Settings</h2>
				</div>
				<div class="settings-content">
					<a class="p-link" asp-action="ChangePassword" asp-route-userId="@Model.ContactInfo.FirstOrDefault()?.UserId">Change Password</a>
				</div>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(document).ready(function () {
			$(".my-account-section").hide();
			$("#personal-details").show();
			$("#personal-details-nav").click(function () {
				$(".my-account-section").hide();
				$("#personal-details").show();
			});
			$("#address-nav").click(function () {
				$(".my-account-section").hide();
				$("#addresses").show();
			});
			$("#order-history-nav").click(function () {
				$(".my-account-section").hide();
				$("#order-history").show();
			});
			$("#settings-nav").click(function () {
				$(".my-account-section").hide();
				$("#settings").show();
			});
		});
	</script>
}