@model IEnumerable<PaaS.ViewModels.ContactInfoVM>

@{
	ViewData["Title"] = "My Account";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<br />
<h1>My Account</h1>

<div class="account-wrapper">
	<div class="left-nav">
		<ul class="account-nav">
			<li><a href="/Contact/Personal Details">Personal Details</a></li>
			<li><a href="/Contact/MyOrders">Addressess</a></li>
			<li><a href="/Contact/MyCart">Payment Methods?</a></li>
			<li><a href="/Contact/MyWishlist">Order History</a></li>
			<li><a href="/Contact/MyProfile">Settings?</a></li>
			<li><form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form></li>
		</ul>
	</div>
	<div class="account-content">
		<section id="personal-details">
			<div class="section-header">
				<h2>Personal Details</h2>
				<a asp-action="EditDetails" asp-route-userId="@Model.FirstOrDefault()?.UserId">Edit</a>
			</div>
			<div class="details-content">
				<ul>
					<li><span>Name:</span> <span>@Model.FirstOrDefault()?.FirstName</span> <span>@Model.FirstOrDefault()?.LastName</span></li>
					<li><span>Email:</span> @Model.FirstOrDefault()?.Email</li>
					<li><span>Phone:</span> @Model.FirstOrDefault()?.Phone</li>
				</ul>
			</div>
		</section>
		<section id="addresses">
			<div class="section-header">
				<h2>Addresses</h2>
				@* <a asp-action="EditAddress" asp-route-userId="@Model.FirstOrDefault()?.UserId">Edit</a> *@
				<button>+ Add New</button>
			</div>
			<div class="addresses-content">
				@foreach (var item in Model)
				{
					<div class="address">
						<ul>
							<li>@item.Address1</li>
							<li>@item.Address2</li>
							<li><span>@item.CityId</span><span>@item.ProvinceId</span></li>
						</ul>
						<button>Edit</button>
						<button>Delete</button>
					</div>
				}
				
			</div>
		</section>
		<section id="order-history">
			<div class="section-header">
				<h2>Order History</h2>
				
			</div>
		</section>
	</div>
</div>
